@font-face {
    font-family: 'CeraPro-Light';
    src: url(fonts/CeraPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'CeraPro-Bold';
    src: url(fonts/CeraPro-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src: url(fonts/AvenirLTStd-Heavy.otf) format('opentype');
}

@font-face {
    font-family: 'AvenirLT-Roman';
    src: url(fonts/AvenirLT-Roman.otf) format('opentype');
}